body{
 
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main{
    margin:auto;
    padding: 30px;
    max-width:500px;
    background-color: blanchedalmond;
    border-radius: 15px;

}

h1{
    text-align: center;
    margin-bottom:30px;
    color:black;
}

.inside-main{
    display: flex;
    margin-bottom:20px;
}

input[
    type="text"]{
    padding: 15px;
    width:100%;
    background-color: white;
    border-bottom: 7px 0 0 7px;
}

button{
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
    color:white;
    background-color: black;
}

button:hover{
    
    background-color: red;

}

ul{
    padding: 0
}

li{
    display:flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 15px;
}
li span{
    
    flex-grow: 2;
    margin-right: 5px;

}

li button{
    background-color: transparent;
    cursor: pointer;
    color: #888;
}

li button:hover{
    color: black;
}

ul li span{
    position: relative;
    top: 5px;
    right: 0;
    width: 40px;
    height:40px ;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: right;
    border: 50px;
    cursor: pointer;
}


